* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

}

body {
    background-color: gray;
    display: grid;
    grid-template: 
    "header header"
    "aside main"
    "footer footer";
    grid-template-rows: 100px 1fr 30px;
    grid-template-columns: 300px 1fr;
    height: 100vh;
    align-items: center;
    justify-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: blue;
    grid-area: header;
    height: 100%;
    width: 100%;

}

aside {
    background-color: #CD853F;
    grid-area: aside;
    height: 85%;
    width: 90%;
    border: 8px outset #8B4513;
    box-shadow: 2px 2px 10px #2b1403bd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside img{
    width: 150px;
    border-radius: 100px;
    margin: 30px 0;
    box-shadow: 0px 0px 10px 2px #2b1403bd;
}

.informacoesPersonagem{
    display: grid;
    grid-template: 
    "nome nomeResp nomeResp nomeResp"
    "lvl lvlResp classe classeResp"
    "hp hpResp mp mpResp"
    ;
    grid-template-columns: 50px 60px 50px 50px;
    margin-bottom: 40px;
    gap: 5px;
    
}

.nome {
    grid-area: nome;
}

.nomeResp{
    grid-area: nomeResp;
}

.lvl{
    grid-area: lvl;
}

.lvlResp{
    grid-area: lvlResp;
}

.classe{
    grid-area: classe;
}

.classeResp {
    grid-area: classeResp;
}

.hp {
    grid-area: hp;
}

.hpResp {
    grid-area: hpResp;
}

.mp {
    grid-area: mp;
}

.mpResp {
    grid-area: mpResp;
}

.identificador {
    margin-right: 20px;
    font-weight: 600;
}

.botao{
    background-color: #8B4513;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.statusPersonagem{
    display: grid;
    grid-template: 
    "forca forcaResp botao"
    "agilidade agilidadeResp botao"
    "defesa defesaResp botao"
    "inteligencia inteligenciaResp botao"
    "vitalidade vitalidadeResp botao"
    "pontos pontosResp ."
    ;
    gap: 5px;
    align-items: center;
}

.forca{
    grid-area: forca;
}

.forcaResp{
    grid-area: forcaResp;
}

.agilidade {
    grid-area: agilidade;
}

.agilidadeResp {
    grid-area: agilidadeResp;
}

.defesa {
    grid-area: defesa;
}

.defesaResp {
    grid-area: defesaResp;
}

.inteligencia {
    grid-area: inteligencia;
}

.inteligenciaResp {
    grid-area: inteligenciaResp;
}

.vitalidade{
    grid-area: vitalidade;
}

.vitalidadeResp {
    grid-area: vitalidadeResp;
}

.pontos {
    grid-area: pontos;
}

.pontosResp {
    grid-area: pontosResp;
}

main {
    background-color: azure;
    grid-area: main;
    height: 85%;
    width: 90%;
}

footer {
    background-color: aquamarine;
    grid-area: footer;
    height: 100%;
    width: 100%;
}